@charset "utf-8";
/* CSS Document */
html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,del, dfn, em, img, ins, kbd, q, samp,small, strong, sub, sup, var,b, i, dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, figcaption, figure,footer, header, hgroup, menu, nav, section, summary,time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block;}
blockquote, q { quotes:none;}
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none;}
input, textarea { margin:0; padding:0;}
* {-webkit-text-size-adjust:none;}
a{text-decoration:none;}
fieldset, img { border:0;}
ol, ul { list-style:none;}
abbr, acronym { border:0;}

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden;}
* html .clearfix {height: 1%;}
*:first-child + html .clearfix { min-height: 1%;}
p{ font-size: 14px; }
body, h1, h2, h3, h4, h5, h6, p {font-family:'Noto Sans TC',Arial,\5FAE\8EDF\6B63\9ED1\9AD4,\65B0\7D30\660E\9AD4, sans-serif; font-weight: normal; color: #4A4A4A;}
a{  text-decoration:none; outline: none; cursor: pointer; transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;}
a:hover{ text-decoration:none;}
select, input, textarea, button {  font-family:'Noto Sans TC',Arial,\5FAE\8EDF\6B63\9ED1\9AD4,\65B0\7D30\660E\9AD4, sans-serif; font-size: 14px; color: #4A4A4A;}
*:link, *:visited, *:hover, *:active, *:focus , * {border: none;outline: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

/*===== start ======*/
a .tooltip{ opacity: 1; position: absolute; top: 17px; left: -12px; z-index: 10; min-width: 40px; text-align: center; background-color: #4A4A4A; border-radius: 3px; padding: 3px 5px; font-size: 15px; color: #fff; transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;  -webkit-transform: scale(0.9); margin: 0;}
a .tooltip::after{ position: absolute; content: ""; top: -5px; left:11px; width: 0; height: 0; border-style: solid; border-width: 0 4px 6px 4px; border-color: transparent transparent #4a4a4a transparent; line-height: 0px; _border-color: #000000 #000000 #4a4a4a #000000; _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');}

.jobseeker_enterprise_login{ min-height: 100vh;}
.jobseeker_enterprise_login .contentsBox{ width: 100%; padding-top: 50px; background-color: #fff; margin: 0 auto; }
.img_default, .img_default::before, .img_default::after{ background-position: center center; background-repeat: no-repeat; background-size: contain;}

.jobseeker_enterprise_login .main-logo{ width: 190px; height:190px; display: block; margin:0px auto; border:solid 3px #81B6C8; background-size: contain; background-position: center center; background-repeat: no-repeat; border-radius: 3px; }
.jobseeker_enterprise_login h1.title{ font-size: 30px; text-align: center; color: #4A4A4A; padding: 25px 0 20px 0; }
.jobseeker_enterprise_login p.sub_title{ font-size: 18px; text-align: center; color: #000000; padding-bottom: 25px; }
.jobseeker_enterprise_login p.sub_title a{ color: #81B6C8; text-decoration: underline; font-size: 15px; }
.jobseeker_enterprise_login p.sub_title a:hover{ text-decoration: none; }

.jobseeker_enterprise_login .fill{width: 100%; max-width: 404px; margin: 0 auto; padding: 40px 0;}
.jobseeker_enterprise_login .fill_title{ padding-bottom: 10px; }
.jobseeker_enterprise_login .fill_title p{ font-size: 15px; color: #707475; }
.jobseeker_enterprise_login .fill_title a{position: relative; color: #fff; padding-left: 10px;}
.jobseeker_enterprise_login .fill_title a .tooltip{ min-width: 306px; }
.jobseeker_enterprise_login .fill_title a p{ color: #fff; text-align: left; }

.jobseeker_enterprise_login input{ width: 100%; height: 46px; padding: 5px 5px 5px 55px; border:1px solid #81B6C8; border-radius: 8px 0 8px 8px; font-size: 17px;}
.jobseeker_enterprise_login input[type=text]:focus{ box-shadow: inset 0px 2px 7px 0px rgb(0,0,0,.15); }	
.jobseeker_enterprise_login input::placeholder{ color: #D8D8D8; }

.jobseeker_enterprise_login .the_input{ position: relative; margin-bottom: 10px; }
.jobseeker_enterprise_login .the_input::before{ position: absolute; display: block; left: 15px; top: 15px;  content: ""; background-position: center center; background-repeat: no-repeat; background-size: contain; }
.jobseeker_enterprise_login .mail::before{ width: 22px; height: 17px; background-image: url(../images/svg/mail.svg) ;}
.jobseeker_enterprise_login .lock::before{ left: 19px; top: 10px; width: 15px; height: 22px; background-image: url(../images/svg/lock.svg) ;}

.jobseeker_enterprise_login .input_error input{ border-color: #C87D86; }
.jobseeker_enterprise_login .input_error p.the_reminder{ position: absolute; bottom: 0px; line-height: 46px; right: 15px; color: #C87D86; }

.jobseeker_enterprise_login .pw_related .still_in{ float: left; font-size: 14px; position: relative; }
.jobseeker_enterprise_login .pw_related .still_in input[type=checkbox]:not(old), .jobseeker_enterprise_login .pw_related .still_in input[type=radio ]:not(old){ position: absolute; top: 0; left: 0; height: 100%; width : 100%; margin: 0;  padding : 0; opacity : 0; cursor: pointer; z-index: 2;}
.jobseeker_enterprise_login .pw_related .still_in input[type=checkbox]:not(old) + label, .jobseeker_enterprise_login .pw_related .still_ininput[type=radio]:not(old) + label { padding-left: 30px; background: url(../images/personal_information/checks_off.png) 0 center no-repeat;}
.jobseeker_enterprise_login .pw_related .still_in input[type=checkbox]:not(old):checked + label, .jobseeker_enterprise_login .pw_related .still_in input[type=radio]:not(old):checked + label{ background-image: url(../images/personal_information/checks_on.png);}

.jobseeker_enterprise_login .pw_related input{ width: initial; height: initial; padding: 0; }
.jobseeker_enterprise_login .pw_related p{ float: right;}
.jobseeker_enterprise_login .pw_related p a{ color: #81B6C8; text-decoration: none;}
.jobseeker_enterprise_login .pw_related p a:hover{ text-decoration: underline; }

.bg_skyblue{ background-color: #F2F8FA; border-top: 2px solid #D1E0E5;}
.padbottom50{ padding-bottom: 50px; }

.jobseeker_enterprise_login p.btn{ text-align: center; width: 100%; }
.jobseeker_enterprise_login p.btn a{ background-color: #81B6C8; color: #fff; height: 46px; line-height: 46px; display: block; width: 100%; border-radius: 8px 0 8px 8px; margin: 0 auto; }
.jobseeker_enterprise_login p.btn a:hover{ background-color: #B8D3DC; }
.jobseeker_enterprise_login p.btn{ padding: 10px 0;}

.jobseeker_enterprise_login .other_login{ width: 100%; }
.jobseeker_enterprise_login p.line{ position: relative; text-align: center; padding: 5px 0;}
.jobseeker_enterprise_login p.line::after{ display: block; content: ""; position: absolute; top: 15px; width:calc(50% - 20px); height: 2px; background-color: #B8D3DC;}
.jobseeker_enterprise_login p.line::before{ display: block; content: ""; position: absolute; top: 15px; right: 0; width:calc(50% - 20px); height: 2px; background-color: #B8D3DC;}
.jobseeker_enterprise_login ul{ text-align: center; padding: 10px 0; }
.jobseeker_enterprise_login ul li{ display: inline-block; padding: 0 2.5px; }
.jobseeker_enterprise_login ul li img{ width: 100%; max-width: 40px; }
.jobseeker_enterprise_login ul li a:hover{ opacity: .8; }
.jobseeker_enterprise_login p.link{ font-size: 13px; color: #707475; text-align: center; }
.jobseeker_enterprise_login p.link a{ color: #707475; }
.jobseeker_enterprise_login p.link a:hover{text-decoration: underline;}
.jobseeker_enterprise_login p.link span{ padding-left: 20px; }

.jobseeker_enterprise_login .card_box{ background-color: #F8F9F9; position: relative; text-align: center;  padding:20px; max-width: 540px; border-radius: 5px; box-shadow: 0 2px 4px rgba(0,0,0,5); margin:-50px auto 0 auto }
.jobseeker_enterprise_login .card_box p{ line-height: 25px;}
.jobseeker_enterprise_login .card_box p a{ color: #81B6C8; }
.jobseeker_enterprise_login .card_box p a:hover{text-decoration: underline;}
.jobseeker_enterprise_login .card_box p.mail{ font-size: 18px; line-height: 25px;}
.jobseeker_enterprise_login .card_box p.note{ padding:35px 0 20px 0; border-bottom: 1px solid #81B6C8; max-width: 375px; margin:  0 auto 20px auto; }
.jobseeker_enterprise_login .card_box img{ width: 100%; max-width: 300px; padding-bottom: 20px; }

.jobseeker_enterprise_login .card_box a.btn_close{ position: absolute; top: 0; right: 0; display: block;}
.jobseeker_enterprise_login .card_box a.btn_close span{ width: 40px; height: 40px; position: relative; display: block; }
.jobseeker_enterprise_login .card_box a.btn_close span::after{ content: ""; position:absolute; top: calc(50% - 6px); left: calc(50% - 6px); width: 12px; height: 12px; display: block; background-image: url(../images/svg/close_gray.svg); }
.jobseeker_enterprise_login .card_box a.btn_close:hover{ opacity: .8; }

.jobseeker_enterprise_login .forget_pw p.note{ border: none; padding: 0; }
.jobseeker_enterprise_login .forget_pw .the_input, 
.jobseeker_enterprise_login .forget_pw p.btn{ max-width: 404px; margin: 0 auto;}
.jobseeker_enterprise_login .forget_pw p.btn a { color: #fff; }
@media (max-width:1600px){
	.jobseeker_enterprise_login .main-logo{ width: 95px; height: 95px; }
	.jobseeker_enterprise_login h1.title{ font-size: 24px;}
}
@media (max-width:750px){
	.jobseeker_enterprise_login .contentsBox{ width: 100%; }
	.jobseeker_enterprise_login .main-logo{ margin-top: 20px; }	
	.jobseeker_enterprise_login p.sub_title{ margin: 0 auto; padding-bottom: 20px; }
	.jobseeker_enterprise_login .fill{ padding: 20px 0; }
}
@media (max-width:620px){
	.jobseeker_enterprise_login .contentsBox{ padding-top: 15px; }
	.jobseeker_enterprise_login .fill{padding: 20px;}
	.jobseeker_enterprise_login p.link{ font-size: 12px; }
	.jobseeker_enterprise_login .card_box{ max-width: calc(100% - 30px); }
}

@media (max-width:450px){
	.jobseeker_enterprise_login h1.title{  margin: 0 auto; font-size: 22px;}
	.jobseeker_enterprise_login p.sub_title{ padding-bottom: 20px; }

	.personal_information_finished .fillin_done h3{ padding: 220px 0 20px 0; font-size: 17px; }
	.personal_information_finished .fillin_done h3::after { height: 206px; }
	.personal_information_finished .fillin_done p{ font-size: 16px; }
	
	.jobseeker_enterprise_login .fill_title{ font-size: 15px; }
	.jobseeker_enterprise_login .fill_title a .tooltip{ min-width: 240px; }

	.jobseeker_enterprise_login p.link{ font-size: 11px; line-height: 20px; }
	.jobseeker_enterprise_login p.link span{ padding-left: 0; display: block;}
	.jobseeker_enterprise_login input{ font-size: 16px;}
}
@media (max-width:400px){
	.jobseeker_enterprise_login .contentsBox{ padding-top: 0; }
	.jobseeker_enterprise_login h1.title{ padding: 15px 0; font-size: 20px;}
	.jobseeker_enterprise_login p.sub_title{ font-size: 16px; }
	.jobseeker_enterprise_login p.sub_title{ padding-bottom: 15px; }
}
