@charset "utf-8";
/* CSS Document */
html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,del, dfn, em, img, ins, kbd, q, samp,small, strong, sub, sup, var,b, i, dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, figcaption, figure,footer, header, hgroup, menu, nav, section, summary,time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block;}
blockquote, q { quotes:none;}
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none;}
input, textarea { margin:0; padding:0;}
* {-webkit-text-size-adjust:none;}
a{text-decoration:none;}
fieldset, img { border:0;}
ol, ul { list-style:none;}
abbr, acronym { border:0;}

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden;}
* html .clearfix {height: 1%;}
*:first-child + html .clearfix { min-height: 1%;}

body, h1, h2, h3, h4, h5, h6, p {font-family:'Noto Sans TC',Arial,\5FAE\8EDF\6B63\9ED1\9AD4,\65B0\7D30\660E\9AD4, sans-serif; font-weight: normal; color: #4A4A4A;}
p{ font-size:14px;}
a{  text-decoration:none; outline: none; cursor: pointer; transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;}
a:hover{ text-decoration:none;}
select, input, textarea, button {  font-family:'Noto Sans TC',Arial,\5FAE\8EDF\6B63\9ED1\9AD4,\65B0\7D30\660E\9AD4, sans-serif; font-size: 14px;color: #4A4A4A;}
*:link, *:visited, *:hover, *:active, *:focus , * {border: none;outline: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

/*===== start ======*/
.contentsBox{ width: 100%; max-width: 1024px; margin: 0 auto; }
.img_default, .img_default::before, .img_default::after{ background-position: center center; background-repeat: no-repeat; background-size: contain;}

.personal_information_login .main-logo{ width: 190px; height:190px; display: block; margin:110px auto 0px auto; border:solid 3px #81B6C8; background-size: contain; background-position: center center; background-repeat: no-repeat; border-radius: 3px; }
.personal_information_login h1.title{ font-size: 24px; text-align: center; color: #4A4A4A; padding: 25px 0 10px 0; }
.personal_information_login p.sub_title{ font-size: 14px; text-align: center; color: #707475; padding-bottom: 60px; }
.personal_information_login .main_info{ border:1px solid #81B6C8; border-width: 18px 0 18px 0; padding: 15px 0;}
.personal_information_login .main_info p{ position: relative; font-size: 16px; color: #9B9B9B; text-align: justify; max-width: 745px; margin: 0 auto;}
.personal_information_login .main_info p::after{ position: absolute; top: -230px; left:0;  content: ""; width: 213px; height: 182px; display: block; background-image: url(../images/personal_information/login_graphic_01.png); }
.personal_information_login .main_info p::before{ position: absolute; top: -280px; right: -10px;  content: ""; width: 235px; height: 254px; display: block; background-image: url(../images/personal_information/login_graphic_02.png); }

.personal_information_login .fill{width: 100%; max-width: 404px; margin: 0 auto; padding: 40px 0;}

.personal_information_login input.name{ width: 100%; height: 46px; padding: 5px 5px 5px 55px; border: 2px solid #81B6C8; border-radius: 8px 0 8px 8px; background: url(../images/login_icon_id.png) 5px center no-repeat; background-size: contain; }
.personal_information_login input.name[type=text]:focus{ box-shadow: inset 0px 2px 7px 0px rgb(0,0,0,.15); }	
.personal_information_login input.name::placeholder{ color: #D8D8D8; }

.personal_information_login .name_error{ position: relative; }
.personal_information_login .name_error::after{ content: ""; z-index: 10; position: absolute; display: block; background-color: #C87D86; width:calc(100% - 65px); max-width: 337px; height: 2px; bottom:0px; right: 10px;}
.personal_information_login .name_error p.the_reminder{ position: absolute; bottom: 0px; line-height: 46px; right: 15px; color: #C87D86; }

p.btn{ text-align: center; width: 100%; padding: 10px 0; }
p.btn a{ background-color: #81B6C8; color: #fff; height: 46px; line-height: 46px; display: block; width: 100%; border-radius: 8px 0 8px 8px; margin: 0 auto; }
p.btn a:hover{ background-color: #B8D3DC; }

a .tooltip{ opacity: 1; position: absolute; top: 33px; z-index: 10; min-width: 40px; text-align: center; background-color: #4A4A4A; border-radius: 3px; padding: 3px 5px; font-size: 13px; color: #fff; transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;  -webkit-transform: scale(0.9); margin: 0;}
a .tooltip::after{ position: absolute; content: ""; top: -5px; left: calc(50% - 4px); width: 0; height: 0; border-style: solid; border-width: 0 4px 6px 4px; border-color: transparent transparent #4a4a4a transparent; line-height: 0px; _border-color: #000000 #000000 #4a4a4a #000000; _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');}

.personal_information_container{ padding-bottom: 40px; }
.personal_information_container .top_tips{ width: 100%; background-color: #F8F9F9; padding: 80px 10px 10px 10px;}
.personal_information_container .top_tips p{ max-width: 575px; margin: 0 auto; color: #C87D86; font-size: 18px;}
.personal_information_container .interviewee_data{ max-width: 575px; margin: 0 auto; padding: 40px 0 30px 0;}
.personal_information_container .interviewee_data ul.user_info{ float: left; }
.personal_information_container .interviewee_data ul.user_info li{ padding: 5px 0;}
.personal_information_container .interviewee_data p{ font-size: 16px; }
.personal_information_container .interviewee_data p span{ color: #9B9B9B; }
.personal_information_container .interviewee_data ul.other_info{ float: right; }
.personal_information_container .interviewee_data ul.other_info li{ float: left; padding-left: 15px; }
.personal_information_container .interviewee_data ul.other_info li a{ width: 85px; height: 85px; text-align: center; display:block; display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center; }
.personal_information_container .interviewee_data ul.other_info li a p{ color: #9B9B9B; font-size: 12px;position: relative;}
.personal_information_container .interviewee_data ul.other_info li a.upload_photo{ background-color: #E6F0F4; border: 1px dashed #81B6C8; border-radius: 10px; position: relative; overflow: hidden;}
.personal_information_container .interviewee_data ul.other_info li a.upload_photo .user_photo{ width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 1; }
.personal_information_container .interviewee_data ul.other_info li a.upload_photo p{ color: #81B6C8; padding-top: 48px; width: 100%; }
.personal_information_container .interviewee_data ul.other_info li a.upload_photo p::after{ content: ""; position: absolute; width:42px; height: 32px; top: 8px; left:calc(50% - 18px); display: block; background-image: url(../images/personal_information/upload_photo.svg); }
.personal_information_container .interviewee_data ul.other_info li a.upload_photo:hover{ background-color: #fff; }
.personal_information_container .interviewee_data ul.other_info li a.upload_photo:hover .user_photo{ opacity: .25; z-index: 0; }

.personal_information_container .interviewee_data ul.other_info li a.upload_file p{ padding-top: 42px; width: 100%;}
.personal_information_container .interviewee_data ul.other_info li a.upload_file p::after{ content: "";transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; position: absolute; width:45px; height: 32px; top: 6px; left:calc(50% - 22.5px); display: block; background-image: url(../images/personal_information/upload_file.svg); }
.personal_information_container .interviewee_data ul.other_info li a.upload_file:hover p{color: #81B6C8;}
.personal_information_container .interviewee_data ul.other_info li a.upload_file:hover p::after{ background-image: url(../images/personal_information/upload_file-blue.svg); }

.personal_information_container .fill_project{ width: 100%; border-bottom: 8px solid #81B6C8; margin-bottom: 25px;}
.personal_information_container .top_title{ background-color: #81B6C8; padding: 5px; position: sticky; position: -webkit-sticky; position: -moz-sticky; position: -ms-sticky;  position: -o-sticky;z-index: 2; top: 0;}
.personal_information_container .top_title h3{ color: #fff; font-size: 16px; max-width: 575px; margin: 0 auto;}

.personal_information_container .sub_title { background-color: #F8F9F9; padding:10px 5px; border-bottom: 1.5px solid #fff;}
.personal_information_container .sub_title h4{ color: #707475; font-size: 15px; max-width: 575px; margin: 0 auto; position: relative; cursor: pointer;}
.personal_information_container .sub_title h4 a.delete{ border-radius: 4px 0 4px 4px; border:1px solid #C87D86; color: #C87D86; font-size: 12px; padding: 2px 6px; display: inline-block; margin-left: 5px; }
.personal_information_container .sub_title h4 a.delete:hover{ background-color: #C87D86; color: #fff; }
.personal_information_container .sub_title h4::after{ content:""; position: absolute; right: 10px; top: 6.5px; width: 15px; height: 10px; display: block; background-image: url(../images/svg/arrow_bottom.svg);  }
.personal_information_container .open_data h4::after{ background-image: url(../images/svg/arrow_up.svg); }
.personal_information_container .sub_title h4.no_arr{ cursor: inherit; }
.personal_information_container .sub_title h4.no_arr::after{ display: none; }

.personal_information_container .fill_project ul.item{ max-width: 625px; margin: 0 auto; padding: 20px 0; }
.personal_information_container .fill_project ul.item li{ float: left;}
.personal_information_container .fill_project ul.item li a{ width: 94px; height: 77px; display: block; text-align: center; position: relative; border-radius: 5px; border: 2px solid transparent; }
.personal_information_container .fill_project ul.item li a p{ color: #9B9B9B; position: relative; width: 100%; padding-top: 46px;}
.personal_information_container .fill_project ul.item li a p::after{ content: ""; position: absolute; width:100%; height: 32px; top: 8px; left:0; display: block; }
.personal_information_container .fill_project ul.item li a:hover p, .personal_information_container .fill_project ul.item li.btn_in a p {color: #81B6C8;}
.personal_information_container .fill_project ul.item li a.icon_01 p::after{ background-image: url(../images/personal_information/fill_project_icon_01.svg);}
.personal_information_container .fill_project ul.item li a.icon_02 p::after{ background-image: url(../images/personal_information/fill_project_icon_02.svg);}
.personal_information_container .fill_project ul.item li a.icon_03 p::after{ background-image: url(../images/personal_information/fill_project_icon_03.svg);}
.personal_information_container .fill_project ul.item li a.icon_04 p::after{ background-image: url(../images/personal_information/fill_project_icon_04.svg);}
.personal_information_container .fill_project ul.item li a.icon_05 p::after{ background-image: url(../images/personal_information/fill_project_icon_05.svg);}
.personal_information_container .fill_project ul.item li a.icon_06 p::after{ background-image: url(../images/personal_information/fill_project_icon_06.svg);}
.personal_information_container .fill_project ul.item li a.icon_07 p::after{ background-image: url(../images/personal_information/fill_project_icon_07.svg);}
.personal_information_container .fill_project ul.item li a.icon_08 p::after{ background-image: url(../images/personal_information/fill_project_icon_08.svg);}
.personal_information_container .fill_project ul.item li a.icon_09 p::after{ background-image: url(../images/personal_information/fill_project_icon_09.svg);}
.personal_information_container .fill_project ul.item li a.icon_01:hover p::after, .personal_information_container .fill_project ul.item li.btn_in a.icon_01 p::after{ background-image: url(../images/personal_information/fill_project_icon_01-blue.svg);}
.personal_information_container .fill_project ul.item li a.icon_02:hover p::after, .personal_information_container .fill_project ul.item li.btn_in a.icon_02 p::after{ background-image: url(../images/personal_information/fill_project_icon_02-blue.svg);}
.personal_information_container .fill_project ul.item li a.icon_03:hover p::after, .personal_information_container .fill_project ul.item li.btn_in a.icon_03 p::after{ background-image: url(../images/personal_information/fill_project_icon_03-blue.svg);}
.personal_information_container .fill_project ul.item li a.icon_04:hover p::after, .personal_information_container .fill_project ul.item li.btn_in a.icon_04 p::after{ background-image: url(../images/personal_information/fill_project_icon_04-blue.svg);}
.personal_information_container .fill_project ul.item li a.icon_05:hover p::after, .personal_information_container .fill_project ul.item li.btn_in a.icon_05 p::after{ background-image: url(../images/personal_information/fill_project_icon_05-blue.svg);}
.personal_information_container .fill_project ul.item li a.icon_06:hover p::after, .personal_information_container .fill_project ul.item li.btn_in a.icon_06 p::after{ background-image: url(../images/personal_information/fill_project_icon_06-blue.svg);}
.personal_information_container .fill_project ul.item li a.icon_07:hover p::after, .personal_information_container .fill_project ul.item li.btn_in a.icon_07 p::after{ background-image: url(../images/personal_information/fill_project_icon_07-blue.svg);}
.personal_information_container .fill_project ul.item li a.icon_08:hover p::after, .personal_information_container .fill_project ul.item li.btn_in a.icon_08 p::after{ background-image: url(../images/personal_information/fill_project_icon_08-blue.svg);}
.personal_information_container .fill_project ul.item li a.icon_09:hover p::after, .personal_information_container .fill_project ul.item li.btn_in a.icon_09 p::after{ background-image: url(../images/personal_information/fill_project_icon_09-blue.svg);}

.personal_information_container .fill_project ul.item li a.remind{ border-color: #4A4A4A; }
.personal_information_container .fill_project ul.item li a.remind .tooltip{ top: 81px; left: calc(50% - 55px); min-width: 110px; }

.personal_information_container p.btn{ max-width: 575px; margin: 0 auto; font-size: 18px; }
.personal_information_container p.btn a{ background-color: #B8D3DC; color: #fff; height: 46px; line-height: 46px; display: block; width: 100%; border-radius: 8px 0 8px 8px; margin: 0 auto; }
.personal_information_container p.btn a:hover{ background-color: #81B6C8; }
.personal_information_container p.btn a.bg_light_blue{ background-color: #F2F8FA; color: #558C9E; }
.personal_information_container p.btn a.bg_light_blue:hover{ background-color: #e2f2f8; }
.personal_information_container p.btn a.bg_green{ background-color: #84BE98; }

input[type=checkbox]:not(old), input[type=radio ]:not(old){ position: absolute; top: 0; left: 0; height: 100%; width : 100%; margin: 0;  padding : 0; opacity : 0; cursor: pointer; z-index: 2;}
input[type=checkbox]:not(old) + label{  display : inline-block; padding-left : 30px; line-height : 24px;}
input[type=checkbox]:not(old):checked + label{ background-position : 0 -73px;}
input[type=radio]:not(old) + label{  display : inline-block; padding-left : 30px; line-height : 24px;}
input[type=radio]:not(old):checked + label{ background-position : 0 -73px;}

.personal_information_container .setting_item{ border-radius: 5px; background-color: #F8F9F9; max-width: 575px; margin: 0 auto; padding: 15px; display: block; position: relative; }
.personal_information_container .setting_item label{ color: #C87D86; font-size: 18px;}
.personal_information_container .setting_item input[type=checkbox]:not(old) + label{background: url(../images/personal_information/checks_off-red.png) 0 center no-repeat;}
.personal_information_container .setting_item input[type=checkbox]:not(old):checked + label{ background-image: url(../images/personal_information/checks_on-red.png);}
.personal_information_container .setting_item input[type=radio]:not(old) + label{background: url(../images/personal_information/checks_off-red.png) 0 center no-repeat;}
.personal_information_container .setting_item input[type=radio]:not(old):checked + label{ background-image: url(../images/personal_information/checks_on-red.png);}

.styled-select { border: 1px solid #979797; border-radius: 5px; width:100% ; min-height: 22px; -webkit-transition: all 0.30s ease-in-out;  -moz-transition: all 0.30s ease-in-out;  -ms-transition: all 0.30s ease-in-out;  -o-transition: all 0.30s ease-in-out; overflow: hidden; background: url(../images/icon_arr.png) right center no-repeat #fff; background-size: contain;}
.styled-select select { appearance:none;  -moz-appearance:none;  -webkit-appearance:none; text-align: left !important; width:100%; padding: 0px 10px; height: 33px; line-height: 33px; *width:120%; _width:120%;  background:transparent; text-align: center;  font-size: 15px; border: 0; border-radius:0; -webkit-appearance: none;  }
.styled-select select option{ background-color:#fff; text-align: center; color: #333;}
.styled-select select option:hover{ background-color: #81B6C8; color: #fff; }
.styled-select select::-ms-expand { display: none;}
/* :root .styled-select select{ padding:2px 5px;}*/
.personal_information_container .fillin_content{ padding-bottom: 5px;}
.personal_information_container .fillin_list{ width: 100%; max-width: 575px; margin: 0 auto; padding-top: 15px;}
.personal_information_container .fillin_list .information_info{ width: 50%; float: left; padding-right: 22px;  padding-bottom: 8px; }
.personal_information_container .fillin_list .information_info:nth-child(2n){ padding-right: 0; padding-left: 22px; }
.personal_information_container .fillin_list .information_info input.f_input,
.personal_information_container .fillin_list .information_info textarea.f_input{ width: 100%; border: 1px solid #979797; border-radius: 5px; height: 35px; line-height: 35px; padding: 0 10px; }
.personal_information_container .fillin_list .information_info textarea.f_input{ max-width: 265px; min-width: 265px; min-height: 35px; overflow-y: hidden;}
.personal_information_container .fillin_list .information_info textarea.h70{ height: 70px; max-height: 70px; min-height: 70px; line-height: 24px; padding: 5px 10px; overflow-y: auto;}

.personal_information_container .fillin_list .information_info label{ font-size: 15px; color: #558C9E; padding-bottom: 6px; display: block; width: 100%; position: relative;}
.personal_information_container .fillin_list .information_info label span.note{ background-color: #81B6C8; color: #fff; font-size: 11.5px; margin-left: 5px; border-radius: 3px; padding: 2px 5px; }
.personal_information_container .fillin_list .information_info label span.text_tips{ color: #4A4A4A; font-size: 14px; position: absolute; right: 0; top: 0; }

.personal_information_container .fillin_list .information_info .setting_item{ background-color: #fff; margin-bottom: 5px; border: 1px solid #979797; border-radius: 5px; min-height: 35px; line-height: 35px; padding: 0; overflow: hidden;}
.personal_information_container .fillin_list .information_info .setting_item label{ position: absolute; line-height: 35px; color: #9B9B9B; top: 0; left: 0; padding-bottom: 0; }
.personal_information_container .fillin_list .information_info .setting_item input[type=checkbox]:not(old) +label{ background: url(../images/personal_information/checks_off.png) 5px center no-repeat;}
.personal_information_container .fillin_list .information_info .setting_item input[type=checkbox]:not(old):checked + label{ background-image: url(../images/personal_information/checks_on.png); background-color: #dfeff5;}
.personal_information_container .fillin_list .information_info .setting_item input[type=radio]:not(old) +label{ background: url(../images/personal_information/checks_off.png) 5px center no-repeat;}
.personal_information_container .fillin_list .information_info .setting_item input[type=radio]:not(old):checked + label{ background-image: url(../images/personal_information/checks_on.png);}
.personal_information_container .fillin_list .information_info .setting_item input[type=radio]:not(old):checked + label{ background-image: url(../images/personal_information/checks_on.png); background-color: #dfeff5;}

.personal_information_container .fillin_list .information_info ul{ width: 100%; }
.personal_information_container .fillin_list .information_info ul li.setting_item{ float: left; margin-right: 8px;  width:calc(50% - 8px); max-width: 125px;}
.personal_information_container .fillin_list .information_info ul li.setting_item:nth-child(2n){ margin-right: 0; margin-left: 8px; }
.personal_information_container .fillin_list .information_info ul li.w100{ width: 100%; max-width: inherit; margin-right: 0; }
.personal_information_container .fillin_list .information_info ul li.setting_item input.pos_fill{ position: absolute; right: 0; top: 0; width: calc(100% - 80px); z-index: 3; line-height: 35px; background-color:transparent;}
.personal_information_container .fillin_list .information_info ul li.no_margin{ margin-left: 0 !important; }
.personal_information_container .fillin_list .information_info ul.no_margin li{ margin-bottom: 0; }
.personal_information_container .fillin_list .information_info .pad_top{ padding-top: 10px; }

.personal_information_container .fillin_list input::placeholder, .personal_information_container .fillin_list textarea::placeholder{ color: #D8D8D8; }
.personal_information_container .fillin_list input.f_input:focus, .personal_information_container .fillin_list textarea.f_input:focus{ border-color: #81B6C8; }
.personal_information_container .fillin_list .for_DOB{ position: relative; }
.personal_information_container .fillin_list .for_DOB fieldset{ position: relative; }
.personal_information_container .fillin_list .for_DOB fieldset::after{cursor: pointer; content: ""; bottom: 10px; right: 10px; position: absolute; width: 18px; height: 15px; display: block; background-image: url(../images/icon_time_select_01.png);}
.personal_information_container .fillin_list .for_DOB fieldset{ float: left; max-width: 158px; }
.personal_information_container .fillin_list .for_DOB p{ float: left; line-height: 34px; padding: 25px 5px 0 5px; }
.personal_information_container .fillin_list .for_DOB p.age{ padding-left: 10px; }
.personal_information_container .fillin_list .DOB_100 fieldset{ float: none; padding-top: 10px; max-width: 100%; }
.personal_information_container .fillin_list .DOB_100 fieldset:first-child{ padding-top: 0; }
.personal_information_container .fillin_list .for_h01{ min-height: 114px; }

.personal_information_container .fillin_list .for_DOB .monthBox{ background-color: #fff; border: 1px solid #979797; border-radius: 5px; position: absolute; width: 266px; top: 65px; left: 0; z-index: 3; overflow: hidden; padding-bottom: 5px; }
.personal_information_container .fillin_list .for_DOB .monthBox .top_year_month{padding:10px 15px;}
.personal_information_container .fillin_list .for_DOB .monthBox .top_year_month fieldset{ min-width: 70px; margin-right: 5px; }
.personal_information_container .fillin_list .for_DOB .monthBox .top_year_month fieldset::after{ display: none; }
.personal_information_container .fillin_list .for_DOB .monthBox .top_year_month .styled-select{ border-radius: 2px; background: url(../images/personal_information/icon_arr.png) right center no-repeat #fff; background-size: contain; }
.personal_information_container .fillin_list .for_DOB .monthBox .top_year_month .styled-select select{ height: 23px; line-height: 23px; }

.personal_information_container .fillin_list .for_DOB .monthBox p{ color: #9B9B9B;  padding:0;}
.personal_information_container .fillin_list .for_DOB .monthBox .dateBox p{ border-radius: 5px; float: none; width: 85%; line-height: inherit; padding: 7px 0; margin: 4px auto 2px auto; text-align: center;} 
.personal_information_container .fillin_list .for_DOB .monthBox .dateBox table{ max-width: 100%; margin: 0 auto; }
.personal_information_container .fillin_list .for_DOB .monthBox .dateBox table th{ background-color: #81B6C8; }
.personal_information_container .fillin_list .for_DOB .monthBox .dateBox table th p{ color: #fff; text-align: center; font-size: 11px; width: 100%; padding: 4px 0; margin: 0;}
.personal_information_container .fillin_list .for_DOB .monthBox .dateBox table tr p{ cursor: pointer;}
.personal_information_container .fillin_list .for_DOB .monthBox .dateBox table tr td p:hover{ background-color: #B8D3DC; color: #fff;}
.personal_information_container .fillin_list .for_DOB .monthBox .dateBox p.btn_in { background-color: #81B6C8; color: #fff; }
.personal_information_container .fillin_list .for_DOB .monthBox .dateBox p.gray{ color: #EBEBEB; }
.personal_information_container .fillin_list .for_DOB .monthBox .dateBox p.btn_in:hover{background-color: #81B6C8;}

.personal_information_container .fillin_list .for_3box fieldset{ float: left; width:calc(33.33% + 5px); padding-right: 10px; }
.personal_information_container .fillin_list .for_3box fieldset:last-child{ float: right; padding-right: 0; max-width:calc(33.33% - 10px) ;}
.personal_information_container .fillin_list .for_2box{ padding-bottom: 5px;}
.personal_information_container .fillin_list .for_2box fieldset{ float: left; width: 50%; /*max-width:130px;*/ padding-right: 10px;}
.personal_information_container .fillin_list .for_2box fieldset:last-child{ float: right; padding-left: 10px; padding-right: 0;}

.personal_information_container .fillin_list .for_4box{ padding-top: 5px;}
.personal_information_container .fillin_list .for_4box fieldset{ float: left; width:25%; padding-right: 5px; }
.personal_information_container .fillin_list .for_4box fieldset .styled-select{ min-width: 56px;}
.personal_information_container .fillin_list .for_4box fieldset .styled-select select{ padding: 0 5px;}
.personal_information_container .fillin_list .for_4box fieldset:last-child{ padding-right: 0; }

.personal_information_container .fillin_w100 .information_info{ width: 100%; padding: 0; margin: 0; padding-bottom: 7px; }
.personal_information_container .fillin_w100 .information_info:nth-child(2n){ padding: 0; padding-bottom: 7px;}
.personal_information_container .fillin_w100 .information_info textarea.f_input{ max-width: 100%; min-width: 100%; }
.personal_information_container .fillin_w100 .for_DOB fieldset::after{ bottom: 15px; }

.personal_information_container .bottom_line .information_info{margin-bottom: 10px;}
.personal_information_container .bottom_line .information_info:last-child{ margin-bottom: 0; }
.personal_information_container .bottom_line .information_info:first-child{ border-bottom: 1px dashed #979797;  padding-bottom: 15px; }
.personal_information_container .bottom_line .information_info:nth-child(2){ border-bottom: 1px dashed #979797;  padding-bottom: 15px;}
.personal_information_container .data_content { border-bottom: 1.5px solid #fff;}
.personal_information_container .data_content .fillin_list{ padding-bottom: 10px; }
.personal_information_container p.top_line{ border-top: 1px dashed #979797; padding-top: 15px;}

.personal_information_container .style_for_k label{ color: #4A4A4A; }
.personal_information_container .style_for_k input[type=checkbox]:not(old) + label{background: url(../images/personal_information/checks_off.png) 0 center no-repeat;}
.personal_information_container .style_for_k input[type=checkbox]:not(old):checked + label{ background-image: url(../images/personal_information/checks_on.png);}


/*upload file & link*/
/*add link*/
.personal_information_container .btn_delete a{ position: relative; width: 28px; height: 28px; display: block; background-color: #EBEBEB; border-radius: 50%;}
.personal_information_container .btn_delete a::before{ position: absolute; content: ""; top: calc(50% - 8.5px); left:  calc(50% - 9px); width: 18px; height: 19px; background-image: url(../images/svg/garbage.svg); }
.personal_information_container .btn_delete a:hover::before{ background-image: url(../images/svg/garbage_red.svg);}
.personal_information_container .btn_delete a .tooltip{ min-width: 55px; font-size: 11px; left: -13px;}

.personal_information_container .add_attached_link .add_new_content{  width: 560px; margin: 0 auto; padding:35px 0 30px 0;}
.personal_information_container .add_attached_link .add_new_content input{ width: 100%; border: 1px solid #979797; padding: 0 10px; border-radius: 5px; height: 35px; line-height: 35px; margin-bottom: 10px; }
.personal_information_container .add_attached_link .add_new_content input::placeholder{ color: #D8D8D8;}
.personal_information_container .add_attached_link .add_new_content input:focus{ border-color:#81B6C8;}
.personal_information_container .add_attached_link .add_new_content p.add_btn{ text-align: center; padding: 10px 0;}
.personal_information_container .add_attached_link .add_new_content p.add_btn a{ width: 100%;  display: block; color: #fff; height: 40px; line-height: 40px; background-color: #B8D3DC; border-radius: 5px; }
.personal_information_container .add_attached_link .add_new_content p.add_btn a:hover{ background-color: #81B6C8; }

/*full link*/
.personal_information_container .full_link .add_new_content input{ background-color: #F8F9F9; cursor: not-allowed;}
.personal_information_container .full_link .add_new_content p.add_btn a{ cursor: not-allowed; background-color: #9B9B9B; }
.personal_information_container .full_link .add_new_content p.add_btn a:hover{ background-color: #9B9B9B;  }

/*add file*/
.personal_information_container .add_new_file .add_new_content{ max-width: 575px; margin: 0 auto; padding-bottom:20px;}
.personal_information_container .add_new_file .add_new_content .upload_limit_note{  width: 100%; padding-top: 20px; }
.personal_information_container .add_new_file .add_new_content .upload_limit_note p.left_title{ float: left; width: 67px; height: 67px; display: block;background-color: #F2F8FA; color: #81B6C8; display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center;}
.personal_information_container .add_new_file .add_new_content .upload_limit_note ul{ float: left; padding:5px 0 0 25px; margin-left: 25px; width: calc(100% - 92px);  color:#81B6C8; font-size: 15px; }
.personal_information_container .add_new_file .add_new_content .upload_limit_note ul li{ width: 100%; list-style: decimal; }
.personal_information_container .add_new_file .add_new_content .upload_limit_note ul li p{ font-size: 15px; color: #81B6C8; font-size: 15px;}

.personal_information_container .add_new_file ul.upload_file{ width: 100%; padding: 10px 0 10px;}
.personal_information_container .add_new_file ul.upload_file li{ width: 100%; padding: 10px 0; position: relative;}
.personal_information_container .add_new_file ul.upload_file li .upload_info{ width: 100%; }
.personal_information_container .add_new_file ul.upload_file li .upload_info .icon_file{ float: left; width: 25px; height: 33px; display: block;   }
.personal_information_container .add_new_file ul.upload_file li .upload_info .progress_bar{ float: left; width: 100%; max-width: calc(100% - 70px); padding-left: 5px; }
.personal_information_container .add_new_file ul.upload_file li .upload_info .progress_bar p{ font-size: 12px; padding: 5px 15px; }
.personal_information_container .add_new_file ul.upload_file li .upload_info .progress_bar .progress_container{ width: 100%; height:7px; position:relative; background-color: #fff; border:1px solid #81B6C8;}
.personal_information_container .add_new_file ul.upload_file li .upload_info .progress_bar .progressbar{ background-color:#81B6C8; top: -1px; left: -1px; height:7px; position:absolute; line-height:inherit;}

.personal_information_container .add_new_file ul.upload_file li .btn_delete{ position: absolute; right: -8px; bottom: 4px; } 
.personal_information_container .add_new_file ul.upload_file li .btn_delete a{ background-color: transparent; }

.personal_information_container .add_new_file ul.upload_file li.upload_error .upload_info .icon_file{ position: relative; }
.personal_information_container .add_new_file ul.upload_file li.upload_error .upload_info .icon_file::after{ content: ""; position: absolute; bottom: -5px; right: -9px; width: 16px; height: 16px; display: block; background-image: url(../images/svg/file_icon/upload_error.svg); }
.personal_information_container .add_new_file ul.upload_file li.upload_error .upload_info .progress_bar p{ color: #C87D86; }
.personal_information_container .add_new_file ul.upload_file li.upload_error .upload_info .progress_bar .progress_container{ border-color: #C87D86; }
.personal_information_container .add_new_file ul.upload_file li.upload_error .upload_info .progress_bar .progressbar{ background-color:#C87D86;}

.personal_information_container .add_new_file ul.upload_file li.upload_done .upload_info .icon_file{ position: relative; }
.personal_information_container .add_new_file ul.upload_file li.upload_done .upload_info .icon_file::after{ content: ""; position: absolute; bottom: -5px; right: -9px; width: 16px; height: 16px; display: block; background-image: url(../images/svg/file_icon/upload_done.svg); }
.personal_information_container .add_new_file ul.upload_file li.upload_done .upload_info .progress_bar p{ background-color: #E7F1EB; margin-top: 2px; border: 2px solid #84BE98; height: 33px; line-height: 29px; padding: 0 15px; }
.personal_information_container .add_new_file ul.upload_file li.upload_done .btn_delete{ bottom: 7px;}

.personal_information_container .add_new_file .add_new_content a.choose_file{ width: 100%; border-radius: 5px; border:1px dashed #81B6C8; background-color: #E6F0F4; height: 105px; display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center; }
.personal_information_container .add_new_file .add_new_content a.choose_file p{ color: #81B6C8; padding: 60px 10px 0 10px; position: relative; }
.personal_information_container .add_new_file .add_new_content a.choose_file p::after{ content: ""; top: 0; left:calc(50% - 20.5px); position: absolute; width: 41px; height: 54px; display: block; background-image: url(../images/svg/file_icon/upload_file.svg); }
.personal_information_container .add_new_file .add_new_content a.choose_file:hover{ background-color: #81B6C8; }
.personal_information_container .add_new_file .add_new_content a.choose_file:hover p{ color: #fff;}
.personal_information_container .add_new_file .add_new_content a.choose_file:hover p::after {background-image: url(../images/svg/file_icon/upload_file_w.svg);}

/*full file*/
.personal_information_container .full_file{ padding-top: 20px; }
.personal_information_container .full_file .add_new_content a.choose_file{ background-color: #9B9B9B; border-color: #808080; cursor: not-allowed;}
.personal_information_container .full_file .add_new_content a.choose_file p{ color: #fff; }
.personal_information_container .full_file .add_new_content a.choose_file p::after{ background-image: url(../images/svg/file_icon/upload_file_w.svg); }
.personal_information_container .full_file .add_new_content a.choose_file:hover{ background-color: #9B9B9B; }
.personal_information_container .full_file .add_new_content .upload_limit_note p.left_title{ background-color: #F8F9F9; color: #808080; }
.personal_information_container .full_file .add_new_content .upload_limit_note ul, .personal_information_container .full_file .add_new_content .upload_limit_note ul li p{ color: #808080;}

.personal_information_container .add_new_file ul.upload_file li.upload_error .icon_pdf{ background-image: url(../images/svg/file_icon/icon_pdf-red.svg) ;}
.personal_information_container .add_new_file ul.upload_file li.upload_error .icon_gif{ background-image: url(../images/svg/file_icon/icon_gif-red.svg) ;}
.personal_information_container .add_new_file ul.upload_file li.upload_error .icon_ps{ background-image: url(../images/svg/file_icon/icon_ps-red.svg) ;}
.personal_information_container .add_new_file ul.upload_file li.upload_error .icon_ai{ background-image: url(../images/svg/file_icon/icon_ai-red.svg) ;}
.personal_information_container .add_new_file ul.upload_file li.upload_error .icon_zip{ background-image: url(../images/svg/file_icon/icon_zip-red.svg) ;}
.personal_information_container .add_new_file ul.upload_file li.upload_error .icon_png{ background-image: url(../images/svg/file_icon/icon_png-red.svg) ;}
.personal_information_container .add_new_file ul.upload_file li.upload_error .icon_jpg{ background-image: url(../images/svg/file_icon/icon_jpg-red.svg) ;}
.personal_information_container .add_new_file ul.upload_file li.upload_error .icon_video{ background-image: url(../images/svg/file_icon/icon_video-red.svg) ;}
.personal_information_container .add_new_file ul.upload_file li.upload_error .icon_music{ background-image: url(../images/svg/file_icon/icon_music-red.svg) ;}
.personal_information_container .add_new_file ul.upload_file li.upload_error .icon_word{ background-image: url(../images/svg/file_icon/icon_word-red.svg) ;}
.personal_information_container .add_new_file ul.upload_file li.upload_error .icon_excel{ background-image: url(../images/svg/file_icon/icon_excel-red.svg) ;}
.personal_information_container .add_new_file ul.upload_file li.upload_error .icon_ppt{ background-image: url(../images/svg/file_icon/icon_ppt-red.svg) ;}
.personal_information_container .add_new_file ul.upload_file li.upload_error .icon_excel_arr{ background-image: url(../images/svg/file_icon/icon_excel_arr-red.svg) ;}
.personal_information_container .add_new_file ul.upload_file li.upload_error .icon_more{ background-image: url(../images/svg/file_icon/icon_more-red.svg) ;}

.personal_information_container .add_new_file ul.upload_file li.upload_done .icon_pdf{ background-image: url(../images/svg/file_icon/icon_pdf-green.svg) ;}
.personal_information_container .add_new_file ul.upload_file li.upload_done .icon_gif{ background-image: url(../images/svg/file_icon/icon_gif-green.svg) ;}
.personal_information_container .add_new_file ul.upload_file li.upload_done .icon_ps{ background-image: url(../images/svg/file_icon/icon_ps-green.svg) ;}
.personal_information_container .add_new_file ul.upload_file li.upload_done .icon_ai{ background-image: url(../images/svg/file_icon/icon_ai-green.svg) ;}
.personal_information_container .add_new_file ul.upload_file li.upload_done .icon_zip{ background-image: url(../images/svg/file_icon/icon_zip-green.svg) ;}
.personal_information_container .add_new_file ul.upload_file li.upload_done .icon_png{ background-image: url(../images/svg/file_icon/icon_png-green.svg) ;}
.personal_information_container .add_new_file ul.upload_file li.upload_done .icon_jpg{ background-image: url(../images/svg/file_icon/icon_jpg-green.svg) ;}
.personal_information_container .add_new_file ul.upload_file li.upload_done .icon_video{ background-image: url(../images/svg/file_icon/icon_video-green.svg) ;}
.personal_information_container .add_new_file ul.upload_file li.upload_done .icon_music{ background-image: url(../images/svg/file_icon/icon_music-green.svg) ;}
.personal_information_container .add_new_file ul.upload_file li.upload_done .icon_word{ background-image: url(../images/svg/file_icon/icon_word-green.svg) ;}
.personal_information_container .add_new_file ul.upload_file li.upload_done .icon_excel{ background-image: url(../images/svg/file_icon/icon_excel-green.svg) ;}
.personal_information_container .add_new_file ul.upload_file li.upload_done .icon_ppt{ background-image: url(../images/svg/file_icon/icon_ppt-green.svg) ;}
.personal_information_container .add_new_file ul.upload_file li.upload_done .icon_excel_arr{ background-image: url(../images/svg/file_icon/icon_excel_arr-green.svg) ;}
.personal_information_container .add_new_file ul.upload_file li.upload_done .icon_more{ background-image: url(../images/svg/file_icon/icon_more-green.svg) ;}

/*popup - style*/
.white-popup { position: relative; width: auto; max-width: 760px; margin: 20px auto;}
.mfp-fade.mfp-bg { opacity: 0; -webkit-transition: all 0.15s ease-out; -moz-transition: all 0.15s ease-out;  transition: all 0.15s ease-out;}
.mfp-fade.mfp-bg.mfp-ready { opacity: 0.65;}
.mfp-fade.mfp-bg.mfp-removing { opacity: 0;}
.mfp-fade.mfp-wrap .mfp-content { opacity: 0; -webkit-transition: all 0.15s ease-out;  -moz-transition: all 0.15s ease-out;  transition: all 0.15s ease-out;}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content { opacity: 1;}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content { opacity: 0;}

.popup-w-s{max-width: 390px;}
.popup-w-s .setBox .top_title::after{ display: none;}
.popup-w-m{max-width: 720px;}
.popup-w-mm{max-width: 750px;}
.popup-M {max-width: 795px;}
.popup-M .mfp-close{ left: 345px !important; }
.popup-L {max-width: 958px; min-width: 958px;}
.setBox .top_title {width: 100%; position: relative; max-width: 390px;}
.setBox .top_title h3 { text-align: center; font-size: 18px; letter-spacing: 7px; line-height: 36px; background-color: #D1E0E5; padding: 5px 0; border-radius: 10px 0 10px 10px; }
.setBox .top_title h3.bg_red { text-align: center; font-size: 18px; letter-spacing: 7px; line-height: 36px; background-color: #C87D86; color: #fff; padding: 5px 0; border-radius: 10px 0 10px 10px; }
.setBox .top_title h3.dark{ background-color: #558C9E; color: #fff;}
.setBox .top_title h3.yello{ background-color: #E5AF57; color: #4A4A4A;}
.popup-L .setBox .top_title{ max-width: 100%; }

.setBox p.btn{font-size: 18px; text-align: right; line-height: 36px; padding: 20px 0; width: inherit;}
.setBox p.btn a{ min-width: 107px; margin-left:4.5px; width: inherit; letter-spacing: 4px; border:1px solid transparent; text-align: center;  display: inline-block; color: #fff; background-color: #81B6C8; border-radius:10px 0 10px 10px;}
.setBox p.btn a:hover{ border-color: #fff;}
.setBox p.btn a.bg_red{ background-color: #C87D86; letter-spacing: 0; }

.messageBox .RedBox{ width: 100%; background-color:#fff; padding:20px; border: 3px solid #C87D86; border-radius: 10px 0 10px 10px; box-shadow: 0px 0px 5px rgba(155,155,155,0.2); overflow: hidden; }
.messageBox .RedBox p.info{line-height: 24px;}
.messageBox .RedBox p.info span{color: #81B6C8; padding-left: 0;}
.messageBox .RedBox p.info span.red{ color: #C87D86; padding: 0 5px; }
.messageBox .RedBox p.info span.under_line{ text-decoration: underline; color: inherit; }
@media all and (-ms-high-contrast:none){ .messageBox .RedBox { overflow: inherit; } /* IE10 */ *::-ms-backdrop, .messageBox .RedBox{ overflow: inherit; } /* IE11 */}

.messageBox .border_blue{ border-color: #81B6C8;}
.messageBox .border_green{ border-color: #84BE98;}
.messageBox .border_yello{ border-color: #E5AF57;}
.messageBox .border_red{ border-color: #C87D86;}


@media (max-width:1040px){
	.contentsBox{ width:calc(100% - 40px);}
}
@media (max-width:750px){
	.personal_information_login .main-logo{ margin-top: 50px; }
	.personal_information_login .main_info{ border: none;}
	.personal_information_login .main_info p{ font-size: 12px; }
	.personal_information_login .main_info p::before, .personal_information_login .main_info p::after{ display: none; }
	.personal_information_login p.sub_title{ width: 190px; margin: 0 auto;text-align: left; padding-bottom: 20px; }
	.personal_information_login .fill{ padding: 20px 0; }

	.personal_information_container .top_tips{ padding-top: 10px; }
	.personal_information_container .interviewee_data{ max-width: 240px;  padding: 20px 0; }
	.personal_information_container .interviewee_data ul.user_info{ padding-bottom: 15px; float: none; }
	.personal_information_container .interviewee_data ul.other_info{ float: none; }

	.personal_information_container .setting_item label{ font-size: 16px; }
}
@media (max-width:620px){
	.personal_information_container .fillin_list .information_info{ width: 100%; padding-right: 0;}
	.personal_information_container .fillin_list .information_info:nth-child(2n){ padding-left: 0; }
	.personal_information_container .fillin_list .information_info textarea.f_input{ max-width: 282px; }
	.personal_information_container .fillin_list .information_info textarea.h_more{ height: 70px; overflow-y: auto; padding:5px 10px; line-height: 22px; }
	.personal_information_container .fillin_list .information_info ul li.setting_item{ max-width: inherit;}

	.personal_information_container .sub_title h4 a.delete{ border-color: #707475; color: #707475; position: relative; margin-left: 40px;}
	.personal_information_container .sub_title h4 a.delete:hover{ border-color: #C87D86; }
	.personal_information_container .sub_title h4 a.delete::before{ position: absolute; content: ""; top: calc(50% - 8.5px); left:-25px; width: 18px; height: 19px; background-image: url(../images/svg/garbage.svg);}
	.personal_information_container .fillin_list .for_h01{ min-height: inherit; }
	.personal_information_container .fillin_list .information_info:nth-child(3){ border-bottom: 1px dashed #979797; padding-bottom: 15px; margin-bottom: 5px;}
	.personal_information_container .fillin_list .no_line:nth-child(3){ border: none; padding: 0; }
	.personal_information_container .fillin_list .information_info textarea.f_input{ max-width: 100%; }
}

@media (max-width:450px){
	.personal_information_login .main_info p{ font-size: 9px; }
	.personal_information_login h1.title{ width: 190px; margin: 0 auto; font-size: 18px; text-align: left; padding-bottom: 5px; }
	.personal_information_login p.sub_title{ width: 190px; margin: 0 auto;text-align: left; padding-bottom: 20px; }
	
	.personal_information_container{ padding-bottom: 20px; }
	.personal_information_container .contentsBox{ width: 100%; }
	.personal_information_container .top_tips p{ font-size: 14px; text-align: center; }

	.personal_information_container .fill_project ul.item{ max-width: 282px; margin: 0 auto; }
	.personal_information_container .top_title h3,
	.personal_information_container .sub_title h4,
	.personal_information_container .setting_item, .personal_information_container .fillin_list{ max-width: 282px; }
	.personal_information_container .setting_item label{ font-size: 14px; }
	.personal_information_container .setting_item input[type=checkbox]:not(old) + label{ background-position: 0 -2px ; }
	.personal_information_container p.btn{ max-width: 282px;  font-size: 15px;}
	.personal_information_container .interviewee_data ul.other_info{ text-align: center; }
	.personal_information_container .interviewee_data ul.other_info li{ float: none; display: inline-block; }

	.personal_information_container .add_new_file .add_new_content{ max-width: 282px; }
	.personal_information_container .add_new_file .add_new_content .upload_limit_note p.left_title{ width: 53px; height: 53px; }
	.personal_information_container .add_new_file .add_new_content .upload_limit_note ul{ padding: 0px 0 0 15px;}
	.personal_information_container .add_new_file .add_new_content .upload_limit_note ul li p{ font-size: 12px; }
	.personal_information_container .add_new_file .add_new_content a.choose_file{ height: 96px; }
	.personal_information_container .add_new_file .add_new_content a.choose_file p{ padding-top: 45px; font-size: 12px;}
	.personal_information_container .add_new_file .add_new_content a.choose_file p::after{ left: calc(50% - 14px); width: 28px; height: 37px; }
	.personal_information_container .add_new_file ul.upload_file li .upload_info .progress_bar{ max-width: calc(100% - 56px);}
	.personal_information_container .fillin_list .for_DOB .monthBox{ width: 282px; }
}

/*須蓋過上面屬性，這兩個要在最下面*/
.personal_information_container p.btn a.cursor_none{cursor: not-allowed;  background-color:#D8D8D8;}
.personal_information_container p.btn a.cursor_none:hover{ color: #fff; background-color:#D8D8D8;}
